section#brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    padding-block: 3rem;
}

section#brands > h2 {
    text-align: center;
    font-size: 0.875rem;
}

section#brands > #logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    width: 100%;
}

section#brands > #logos > div {
    height: 4rem;
    background-color: var(--color-card-hex);
    border-radius: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding-inline: 0.25rem;
}

section#brands > #logos > div > img {
    height: 2rem;
    width: auto;
}

@media (min-width: 420px) {
    section#brands > #logos > div {
        height: 4.5rem;
    }

    section#brands > #logos > div > img {
        height: 2.25rem;
    }
}

@media (min-width: 660px) {
    section#brands > #logos > div {
        height: 6.25rem;
    }

    section#brands > #logos > div > img {
        height: 2.5rem;
    }
}

@media (min-width: 900px) {
    section#brands > #logos {
        grid-template-columns: repeat(8, 1fr);
    }
}
