section#changelog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    padding-block: 5rem;

    max-width: 1300px;
    margin: 0 auto;
    padding-inline: 1rem;
}

section#changelog > h2 {
    font-size: 1.625rem;
}

section#changelog > #changelog-card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

section#changelog > #changelog-card-container > .card {
    background-color: var(--color-card-hex);
    border-radius: 0.25rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;

    &:hover {
        cursor: pointer;
        background-color: var(--color-card-hover-hex);
    }
}

section#changelog > #changelog-card-container > .card > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

section#changelog > #changelog-card-container > .card > div > .badge {
    font-size: 0.875rem;
    border: 1px solid;
    border-radius: 1rem;

    padding: 0.25rem 0.75rem;

    color: var(--color-text-sec);
}

section#changelog > #changelog-card-container > .card > div > time {
    color: var(--color-text-sec);
}

section#changelog > a {
    color: var(--color-accent);
    font-size: 1rem;

    &:hover {
        color: color-mix(in oklab, var(--color-accent) 75%, transparent);
    }
}

@media (min-width: 660px) {
    section#changelog > #changelog-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    section#changelog > #changelog-card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
