#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5rem;

    padding: 5rem 1rem;
}

#hero > #heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 1.5rem;
}

#hero > #heading > h1 {
    font-size: 1.625rem;
    text-wrap: balance;
}

#hero > #heading > button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-fg);
    color: var(--color-bg);

    padding: 0.75rem 1.25rem;
    border-radius: 1.5rem;

    gap: 0.5rem;
}

#hero > #heading > button > img {
    width: 18px;
}

#hero > video {
    width: 100%;
    border-radius: 0.25rem;
}
