section#recent {
    background-color: var(--color-card-hex);
    margin-block: 5rem;
}

section#recent > div {
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    max-width: 1300px;
    margin: 0 auto;
    padding-inline: 1rem;
    padding-block: 3rem;
}

section#recent > div > h2 {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

section#recent > div > #recent-card-container {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

section#recent > div > #recent-card-container .card {
    background-color: var(--color-card-02-hex);
    border-radius: 0.25rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;

    &:hover {
        cursor: pointer;
        background-color: var(--color-card-03-hex);
    }
}

section#recent > div > #recent-card-container .card > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

section#recent > div > #recent-card-container .card > div > p.sub,
section#recent > div > #recent-card-container .card > p.date {
    color: var(--color-text-sec);
}

section#recent > div > #recent-card-container > a {
    color: var(--color-accent);
    font-size: 1rem;

    margin-top: 1rem;

    &:hover {
        color: color-mix(in oklab, var(--color-accent) 75%, transparent);
    }
}

@media (min-width: 660px) {
    section#recent > div > h2 {
        grid-column: 1 / 7;
    }

    section#recent > div > #recent-card-container {
        grid-column: 7 / 25;
    }
}

@media (min-width: 900px) {
    section#recent > div > h2 {
        grid-column: 1 / 9;
    }

    section#recent > div > #recent-card-container {
        grid-column: 9 / 25;
    }
}

@media (min-width: 1140px) {
    section#recent > div > h2 {
        grid-column: 1 / 7;
    }

    section#recent > div > #recent-card-container {
        grid-column: 7 / 19;
    }
}
