*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

button {
    all: unset;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active,
a:hover {
    outline: 0;
}

:root {
    --color-bg: #14120b;
    --color-fg: #edecec;
    --color-fg-02: #d7d6d5;
    --color-accent: #f54e00;

    --color-text-sec: color-mix(in oklab, var(--color-fg) 60%, transparent);

    --color-card-hex: #1b1913;
    --color-card-rgb: 27 29 39;
    --color-card-01-hex: #1d1b15;
    --color-card-02-hex: #201e18;
    --color-card-03-hex: #26241e;
    --color-card-04-hex: #2b2923;
    --color-card-hover-hex: #201e18;
    --color-card-hover-light-hex: #1d1b15;
    --color-card-warm-hex: #1c1713;
}

@font-face {
    font-family: "CursorGothic";
    src: url("../assets/fonts/CursorGothic-Regular.woff2");
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);

    font-family: "CursorGothic";
}
