section#try {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding-block: 5rem;

    max-width: 1300px;
    margin: 0 auto;
    padding-inline: 1rem;
}

section#try > h2 {
    font-size: 3.25rem;
    text-align: center;
}

section#try > button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-fg);
    color: var(--color-bg);

    padding: 0.75rem 1.25rem;
    border-radius: 1.5rem;

    gap: 0.5rem;

    &:hover {
        background-color: var(--color-fg-02);
    }
}

section#try > button > img {
    width: 18px;
}

@media (min-width: 420px) {
    section#try > h2 {
        font-size: 4.5rem;
    }
}
